<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8" />
  <title>DRAFT NEW Lob API documentation</title>
  <!-- needed for adaptive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>
  {{{redocHead}}}
  {{#unless disableGoogleFont}}<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">{{/unless}}
</head>

<body>
  <p style="padding: 1em">
  >>> <a href="https://docs.lob.com/">Live Lob API Docs are over here!</a> <<< <br>
  This documentation is generated from the OpenAPI v3 specification under development and is incomplete!</p>

  {{{redocHTML}}}
</body>

</html>