/* desert scheme ported from vim to google prettify */
pre.prettyprint {
  display: block;
}
pre .nocode {
  background-color: none;
  color: #000;
}
pre .str {
  color: #416581;
} /* string */
pre .kwd {
  color: #1878e0;
} /* keyword */
pre .com {
  color: #27333c;
} /* comment */
pre .typ {
  color: #0099d7;
} /* type */
pre .lit {
  color: #5f83a5;
} /* literal */
pre .pun {
  color: #324350;
} /* punctuation */
pre .pln {
  color: #324350;
} /* plaintext */
pre .tag {
  color: #1878e0;
} /* html/xml tag */
pre .atn {
  color: #1878e0;
} /* attribute name */
pre .atv {
  color: #1878e0;
} /* attribute value */
pre .dec {
  color: #1878e0;
} /* decimal */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
} /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: decimal !important;
}

@media print {
  pre.prettyprint {
    background-color: none;
  }
  pre .str,
  code .str {
    color: #adfac9;
  }
  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }
  pre .typ,
  code .typ {
    color: #deb4ff;
    font-weight: bold;
  }
  pre .lit,
  code .lit {
    color: #044;
  }
  pre .pun,
  code .pun {
    color: #440;
  }
  pre .pln,
  code .pln {
    color: #000;
  }
  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }
  pre .atn,
  code .atn {
    color: #404;
  }
  pre .atv,
  code .atv {
    color: #060;
  }
}
