.navbar-sticky,
footer {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer .footer-bottom,
footer .link-list {
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
}
footer .link-list,
footer .list-item,
footer li.footer-item {
  list-style-type: none;
}
.navbar-sticky {
  top: 0;
  z-index: 998;
  background-color: #fff;
  font-family: Larsseit, sans-serif;
}
.navbar-sticky .navigation-container {
  position: relative;
  z-index: 200;
  width: 100%;
  padding: 0 24px;
  margin: 0;
}
.navbar-sticky .navbar-3 {
  display: flex;
  width: auto;
  max-width: none;
  padding: 16px 0;
  background-color: transparent;
}
.navbar-sticky .w-nav {
  position: relative;
  background: #fff;
  z-index: 1000;
  justify-content: space-between;
}
.navbar-sticky .w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333;
}
.navbar-sticky .image-pop {
  transform: translate(0, 0);
  max-width: 100%;
}
.navbar-sticky .image-pop.hidden {
  display: none;
}
.navbar-sticky .nav-menu-wrapper-4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  font-weight: 400;
}
.navbar-sticky .w-nav-menu {
  position: relative;
  float: right;
}
.navbar-sticky .nav-links.nav-links-1 {
  margin-left: 36px;
}
.navbar-sticky .nav-links {
  display: flex;
}
.navbar-sticky .nav-dropdown {
  margin-right: 0;
  margin-left: 0;
}
.navbar-sticky .w-dropdown {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 900;
}
.navbar-sticky .w-dropdown-right {
  margin-right: 0;
}
.navbar-sticky .nav-link-4 {
  margin-right: 0;
  margin-left: 0;
  padding: 10px 12px;
  transition: color 0.2s ease;
  color: #324350;
  white-space: nowrap;
}
.navbar-sticky .nav-link-4:active,
.navbar-sticky .nav-link-4:hover {
  color: #0099d7;
  font-weight: 400;
  text-decoration: none;
  background-color: transparent;
}
.navbar-sticky .w-dropdown-toggle {
  user-select: none;
  display: inline-block;
  cursor: pointer;
}
.navbar-sticky .row-2.no-wrap {
  flex-wrap: nowrap;
}
.navbar-sticky .row-2 {
  display: flex;
  width: 100%;
  margin-top: 0;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}
.navbar-sticky .dropdown-icon {
  transition: transform 0.2s ease-in-out;
  margin-right: -4px;
}
.navbar-sticky .w--open .dropdown-icon {
  transform: rotate(180deg);
}
.navbar-sticky .dropdown-list-5 {
  overflow: hidden;
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #c5d6e6;
  border-radius: 6px;
  background-color: #c5d6e6;
}
.navbar-sticky .w-dropdown-list {
  position: absolute;
  background: #ddd;
  display: none;
  min-width: 100%;
}
.navbar-sticky .dropdown-menu.dropdownmega.snug2 {
  width: 430px;
}
.navbar-sticky .dropdown-menu.dropdownmega {
  width: 550px;
  padding-top: 20px !important;
  padding-bottom: 30px !important;
}
.navbar-sticky .dropdown-menu {
  min-width: 167px;
  padding: 8px 24px !important;
}
.navbar-sticky .dropdown-menu a:hover {
  color: #1878e0;
}
.navbar-sticky .text-small-4.meganavtitle.sentencecase.no-border-top {
  color: rgba(95, 131, 165, 0.9);
  font-weight: 300;
}
.navbar-sticky .text-small-4.meganavtitle.sentencecase {
  color: rgba(95, 131, 165, 0.9);
  font-weight: 300;
  text-transform: uppercase;
}
.navbar-sticky .text-small-4.meganavtitle {
  padding-top: 10px;
  padding-bottom: 5px;
  opacity: 1;
  color: #5f83a5;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar-sticky .megadropdown-row {
  display: flex;
  padding-top: 5px;
  padding-bottom: 15px;
  flex-wrap: nowrap;
  align-items: center;
}
.navbar-sticky .megaicon {
  width: 50px;
  height: 50px;
  align-self: center;
  transition: transform 0.2s ease;
}
.navbar-sticky .megalinksub-2 {
  padding-left: 10px;
  color: #27333c;
}
.navbar-sticky .dropdown-link-2.megalink {
  padding-bottom: 2px;
  font-size: 18px;
}
.navbar-sticky .w-dropdown-link {
  padding: 10px 20px;
  display: block;
  color: #222;
}
.navbar-sticky .w-dropdown-toggle {
  color: #324350;
}
.navbar-sticky .w-dropdown-btn,
.navbar-sticky .w-dropdown-link,
.navbar-sticky .w-dropdown-toggle {
  position: relative;
  vertical-align: top;
  text-decoration: none;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  border: none;
  font-size: 16px;
}
.navbar-sticky .text-small-4.muted-80 {
  opacity: 0.8;
}
.navbar-sticky .text-small-4 {
  padding-right: 0;
  color: #324350;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.navbar-sticky .button-4,
.navbar-sticky .w-nav-link {
  font-size: 16px;
  position: relative;
  text-decoration: none;
}
.navbar-sticky .hidden-on-mobile {
  display: block;
}
.navbar-sticky .nav-functions-2.login,
.navbar-sticky .nav-functions-2.signup {
  display: none;
}
.navbar-sticky .nav-link {
  margin-right: 0;
  margin-left: 0;
  padding: 10px 12px;
  transition: color 0.2s ease;
  color: #324350;
  white-space: nowrap;
}
.navbar-sticky .w-nav-link {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
}
.navbar-sticky .nav-link.rebrand-btn-gray {
  font-weight: 500;
}
.navbar-sticky .nav-menu-button-wrapper {
  display: flex;
  margin-left: 12px;
  align-items: center;
}
.navbar-sticky .button-4.bg-gray-4 {
  border-color: #f7f9fa;
  background-color: #ebf0f6;
  box-shadow: none;
  color: #324350;
}
.navbar-sticky .nav-functions-2 {
  display: flex;
  align-items: center;
}
.navbar-sticky .button-4 {
  padding: 12px 24px;
  border-style: none;
  border-width: 2px;
  border-color: #0099d7;
  border-radius: 5px;
  background-color: #0099d7;
  color: #fff;
  font-weight: 500;
}
.navbar-sticky .button-4:hover {
  background-color: #1878e0;
}
.navbar-sticky .modal-container {
  display: none;
}
.navbar-sticky .w-nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  tap-highlight-color: transparent;
  user-select: none;
}
.navbar-sticky .w-nav-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}
.navbar-sticky .button-4.bg-gray-4:hover {
  border-color: #c5d6e6;
  background-color: #c5d6e6;
}
.navbar-sticky .dropdown-list-5.w--open,
.navbar-sticky .w-dropdown-list.w--open .dropdown-menu {
  position: absolute;
  margin-top: 5px;
  border-style: none;
  border-color: #ebf0f6;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
  opacity: 1;
}
.navbar-sticky .dropdown-list-5.w--open {
  top: 27px;
  overflow: initial;
}
.navbar-sticky .w-dropdown-list .dropdown-menu {
  height: 0;
  transition: height 1s;
}
.navbar-sticky .w-dropdown-list.w--open {
  display: block;
}
.navbar-sticky .w-dropdown-list.w--open .dropdown-menu {
  display: block;
  height: auto;
}
.navbar-sticky .dropdown-link-2 {
  padding: 6px 0 2px;
  opacity: 0.75;
  transition: color 0.2s ease, opacity 0.2s ease;
  text-decoration: none;
}
.navbar-sticky .w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-sticky .w-col-6 {
  width: 50%;
}
.navbar-sticky .megadropdown-row.small {
  padding-bottom: 10px;
}
.navbar-sticky .dropdown-link-2.megalink.nobottomtext {
  padding-top: 4px;
  padding-bottom: 4px;
  font-style: normal;
}
.navbar-sticky .dropdown-menu.dropdownmega.snug {
  width: 330px;
}
.navbar-sticky .megaicon.small {
  width: 40px;
  height: 40px;
}
.navbar-sticky .breadcrumbs li + li::before {
  content: url(https://img.icons8.com/android/14/000000/sort-right.png);
  opacity: 0.5;
  position: relative;
  top: 2px;
  margin: 0;
}
.navbar-sticky .dropdown-menu.right-dropdown-menu {
  right: 0;
  left: auto;
  width: 220px;
}
@media (max-width: 991px) {
  .navbar-sticky .navbar-3 {
    padding-right: 24px;
    padding-left: 24px;
    justify-content: space-between;
  }
  .navbar-sticky .w-nav[data-collapse="medium"] .w-nav-menu {
    display: none;
  }
  .navbar-sticky .nav-menu-wrapper-4 {
    display: flex;
    padding: 16px 0;
    border-style: none;
    border-width: 1px;
    border-color: #c5d6e6;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  }
  .navbar-sticky .w-dropdown-right {
    display: none !important;
  }
  .navbar-sticky .nav-links {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-sticky .nav-links-wrapper {
    position: static;
    z-index: 999;
    overflow: auto;
    width: 100%;
    padding-bottom: 35px;
    max-height: calc(100vh - 245px);
  }
  .navbar-sticky .nav-links.nav-links-1 {
    margin-left: 0;
  }
  .navbar-sticky .nav-dropdown.dropdownlinkmega {
    width: 100%;
  }
  .navbar-sticky .nav-link-4 {
    width: 100%;
    padding: 12px 24px;
    border-bottom: 2px solid rgba(197, 214, 230, 0.5);
  }
  .navbar-sticky .row-2.no-wrap {
    justify-content: space-between;
  }
  .navbar-sticky .dropdown-list-5 {
    position: relative;
  }
  .navbar-sticky .menu-cross-icon,
  .navbar-sticky .menu-icon {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
  }
  .navbar-sticky .dropdown-menu.dropdownmega.snug2 {
    width: 100%;
    padding-top: 0;
  }
  .navbar-sticky .text-small-4.meganavtitle.sentencecase.no-border-top {
    border-top-style: none;
  }
  .navbar-sticky .w-nav[data-collapse="medium"] .w-nav-button {
    display: block;
  }
  .navbar-sticky .menu-button {
    margin-left: 12px;
    padding: 0;
    background-color: transparent;
  }
  .navbar-sticky .menu-cross-icon {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0deg, 0deg);
    transform-style: preserve-3d;
    visibility: hidden;
  }
  .navbar-sticky .nav-functions-2.login,
  .navbar-sticky .nav-functions-2.signup {
    position: static;
    left: 0;
    top: auto;
    right: 0;
    bottom: 80px;
    display: block;
    padding-top: 20px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #fff;
  }
  .navbar-sticky .nav-functions-2.login {
    bottom: 20px;
  }
  .navbar-sticky .button-4.bg-gray-4 {
    display: none;
  }
  .navbar-sticky .button-4.bg-gray-4.rebrand-btn-gray,
  .navbar-sticky .button-4.rebrand-btn-blue {
    display: block;
    font-weight: 500 !important;
    text-align: center;
  }
  .navbar-sticky .div-block-40 {
    display: none;
  }
  .navbar-sticky .w-nav-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
  }
  .navbar-sticky .w-dropdown-list.w--open .dropdown-menu {
    position: static;
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    background-color: #f7f9fa;
    box-shadow: none;
  }
  .navbar-sticky .w-col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }
  .navbar-sticky .text-small-4.meganavtitle.sentencecase {
    margin-top: 10px;
    padding-top: 20px;
    border-top-color: #ebf0f6;
  }
  .navbar-sticky .text-small-4.meganavtitle {
    border-top: 2px solid rgba(197, 214, 230, 0.5);
  }
  .navbar-sticky .dropdown-list-5.w--open {
    position: static;
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    background-color: #f7f9fa;
    box-shadow: none;
  }
  .navbar-sticky body {
    overflow-x: hidden;
  }
  .navbar-sticky .nav-menu-mobile-show {
    display: block !important;
  }
  .navbar-sticky .nav-menu-mobile-hide {
    display: none !important;
  }
}
footer .text-block-2,
footer h6 {
  font-weight: 500;
  text-transform: none;
  letter-spacing: normal;
  font-size: 16px;
}
@media (max-width: 640px) {
  .navbar-sticky .home-sections {
    display: block;
  }
  .navbar-sticky .dropdown-link-2.megalink {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .navbar-sticky .hidden-on-mobile {
    display: none;
  }
  .navbar-sticky .navbar-3 {
    padding: 16px 12px;
  }
  .navbar-sticky .nav-links-wrapper {
    max-height: calc(100vh - 215px);
  }
  .navbar-sticky .nav-functions-2.signup {
    bottom: 80px;
    display: block;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
  }
  .navbar-sticky .nav-functions-2.login {
    bottom: 20px;
    display: block;
    padding: 12px 12px 0;
  }
  .navbar-sticky .nav-menu-wrapper-4 {
    padding: 10px 0;
  }
  .navbar-sticky .image-2 {
    width: auto;
    height: 180px;
    margin-top: 0;
  }
}
footer {
  background-color: #fff;
  padding-top: 96px;
  padding-bottom: 0;
  margin-top: 0;
  height: auto;
  position: relative;
}
.navbar-sticky .megaicon:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
footer .footer-container {
  max-width: 1248px;
  margin: 0 auto;
  width: 100%;
  padding: 0 24px;
}
footer h6 {
  margin-bottom: 8px;
  line-height: 24px;
  color: #5f83a5;
}
footer img {
  max-width: 100%;
}
footer .footer-bottom {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 24px;
  justify-content: space-between;
  align-items: center;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  background-color: #1878e0;
}
footer .social-icons-list {
  display: flex;
  padding-top: 16px;
  padding-left: 0;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  margin: 0 -4px 20px;
}
footer .w-list-unstyled {
  list-style: none;
}
footer .text-block-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Larsseit, sans-serif;
  color: #fff;
  opacity: 0.5;
}
footer .social-icons-list li,
footer li.footer-item {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #27333c;
}
footer .hover-link,
footer .social-icons-list li,
footer li.footer-item {
  font-family: Larsseit, sans-serif;
  font-weight: 400;
}
footer .list-item {
  display: flex;
  margin-right: 4px;
  margin-left: 4px;
  justify-content: flex-start;
  align-items: center;
  order: 1;
  flex: 0 auto;
  margin-bottom: 0;
}
footer .button-circle.bg-white {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease, transform 0.2s ease;
}
footer .button-circle.button-small {
  width: 36px;
  height: 36px;
}
footer .button-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: transform 0.2s ease;
}
footer .social-icon.social-icon-dark {
  background-color: transparent;
  opacity: 0.75;
  width: 16px;
  height: 16px;
}
footer .button-circle.bg-white:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
footer .button-circle:hover {
  transform: scale(1.1);
}
footer .footer-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  margin-bottom: 20px;
}
footer .footer-left {
  display: block;
  width: auto;
  max-width: none;
  align-self: flex-start;
  flex: 0 auto;
}
footer .footer-logo {
  max-width: none;
  margin-bottom: 24px;
}
footer .image-2 {
  width: auto;
  opacity: 0.5;
}
footer .footer-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
  max-width: none;
  flex: 0 auto;
}
footer .footer-menu-column {
  margin-left: 50px;
  font-family: Larsseit, sans-serif;
}
footer .link-list {
  display: grid;
  padding-left: 0;
  flex-direction: column;
  grid-row-gap: 6px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
footer .hover-link {
  opacity: 0.75;
  transition: opacity 0.2s ease;
  color: #324350;
  font-size: 16px;
  line-height: 24px;
}
footer .hover-link:hover {
  opacity: 1;
  color: #324350;
  text-decoration: none;
}
@media (min-width: 1160px) {
  .footer .footer-container {
    padding: 0;
    width: 90%;
  }
}
@media (max-width: 991px) {
  footer {
    padding-top: 0;
  }
  footer .footer-row {
    margin-bottom: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  footer .footer-left {
    display: flex;
    width: 100%;
    margin-bottom: 48px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .footer-logo {
    margin-bottom: 0;
  }
  footer .image-2 {
    width: 100%;
    margin-top: 20px;
    padding-top: 0;
  }
  footer .footer-right {
    align-self: center;
  }
  footer .footer-menu-column {
    margin-right: 24px;
    margin-left: 24px;
  }
}
@media (max-width: 640px) {
  footer {
    padding-top: 48px;
  }
  footer .footer-container {
    padding-left: 12px;
    padding-right: 12px;
  }
  footer .footer-row {
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 48px;
  }
  footer .footer-left {
    flex-direction: column;
    align-items: stretch;
  }
  footer .footer-logo {
    margin-bottom: 0;
  }
  footer .image-2 {
    width: auto;
    height: 161px;
    margin-top: 0;
  }
  footer .footer-right {
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
  }
  footer .footer-menu-column {
    width: 100%;
    margin-bottom: 24px;
    text-align: center;
  }
}
