//Media Sizes

@use "sass:math";

$xs-ms-width: 480px;
$ms-sm-width: 768px;
$sm-md-width: 992px;
$md-lg-width: 1800px;

$sm-container-width: 790px;
$md-container-width: 1010px;
$lg-container-width: 1400px;

$sm-ratio: math.div($sm-container-width, $md-container-width);
$lg-ratio: math.div($lg-container-width, $md-container-width);

//Colors

$brand-primary: #176992;
$brand-secondary: #47b2e8;
$brand-muted: #c4def2;
$brand-accent: #fcdd7c;
$brand-light: #f7fafc;

$gray-dark: #333333;
$gray: #595959;
$gray-mediumer: #999999;
$gray-medium: #cccccc;
$gray-light: #eeeeee;
$gray-lighter: #f2f2f2;
$gray-lightest: #fcfcfc;

$code-bg: #0c4059;

//zindex

$zindex-minus: -1;
$zindex-plus: 1;

$lob-assets-url: "https://s3-us-west-2.amazonaws.com/public.lob.com";

$brand-primary: #1878e0;
$brand-secondary: #0099d7;
$brand-accent: #ffda74;

$brand-shadow: #27333c;
$brand-midnight: #324350;
$brand-shadow-50: #416581;
$brand-steel: #5f83a5;
$brand-dove: #c5d6e6;
$brand-fog: #ebf0f6;
$brand-mist: #f7f9fa;

$docs-nav-width: 205px;
