name: CD

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.LOBOT_TOKEN }}

      - name: bundle
        uses: hilary/openapi-cli-bundle-action@v0.0.2
        with:
          base-spec: "./Lob-API-public.yml"
          bundled-spec: "dist/Lob-API-bundled.yml"

      - name: build zero-dependency docs
        uses: ./actions/redoc

      - name: build postman collection
        uses: ./actions/contract_tests
        with:
          testCommand: "npm run postman"
        env:
          LOB_API_TEST_TOKEN: ${{ secrets.LOB_API_TEST_TOKEN }}

      - name: commit & push bundle, collection and docs to branch
        shell: bash
        run: |
          set -x
          git update-index -q --refresh
          changes=$(git status --porcelain)
          if [[ "${changes}" ]]; then
            git config user.name lobot
            git config user.email lobot@lob.com
            git add --force dist/Lob-API-postman.json
            git add --force dist/Lob-API-bundled.yml
            git add --force docs/index.html
            git commit -m "update bundled spec, zero-dependency docs"
            git push
          fi
