name: CI

on:
  push:
    branches-ignore:
      - deployment

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: am I pretty?
        shell: bash
        run: |
          set -x
          npm i prettier
          npm run pretty

      - name: run spectral
        uses: stoplightio/spectral-action@v0.7.3
        with:
          file_glob: "./lob-api-public.yml"
          repo_token: ${{ github.token }}
          event_name: ${{ github.event_name }}

      - name: run contract tests
        uses: ./actions/contract_tests
        continue-on-error: true
        env:
          LOB_API_TEST_TOKEN: ${{ secrets.LOB_API_TEST_TOKEN }}
          LOB_API_LIVE_TOKEN: ${{ secrets.LOB_API_LIVE_TOKEN }}

      - name: invoke build
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: benc-uk/workflow-dispatch@v1.1.0
        with:
          workflow: CD
          token: ${{ secrets.WORKFLOW_TOKEN }}
