name: Monitor API contracts

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  monitor_av:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: run contract tests
        uses: ./actions/contract_tests
        env:
          LOB_API_TEST_TOKEN: ${{ secrets.LOB_API_TEST_TOKEN }}
          LOB_API_LIVE_TOKEN: ${{ secrets.LOB_API_LIVE_TOKEN }}
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
        with:
          testCommand: "npm run pergoalie av"

  monitor_pmApi:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: run contract tests
        uses: ./actions/contract_tests
        env:
          LOB_API_TEST_TOKEN: ${{ secrets.LOB_API_TEST_TOKEN }}
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
        with:
          testCommand: "npm run pergoalie pmApi"

  monitor_billing:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: run contract tests
        uses: ./actions/contract_tests
        env:
          LOB_API_TEST_TOKEN: ${{ secrets.LOB_API_TEST_TOKEN }}
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
        with:
          testCommand: "npm run pergoalie billing"
